.banner__imagem{
    margin-top: 8rem;
    margin-left: 3rem;
}

.banner__descricao{
    color: var(--branco);
    margin-left: 3rem;
    width: 40%;
}

.banner__botoes{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.banner__botao{
    display: flex;
}

.banner__botao--assistir{
    align-items: center;
    background-color: var(--branco);
    border: 0;
    border-radius: 4px;
    color: var(--cor-de-fundo);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-right: .5rem;
    padding: 8px 16px;
    text-decoration: none;
    
}

.banner__botao--assistir:hover{
    background-color: #d3d3d3;
    opacity: 1;
}

.banner__botao--inf{
    align-items: center;
    background-color: rgba(109, 109, 110, 0.7);
    border: 0;
    border-radius: 4px;
    color: var(--branco);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-right: .5rem;
    padding: 8px 16px;
    text-decoration: none;
}

.banner__botao--inf:hover{
    background-color: rgba(109, 109, 110, 0.5);
}


.banner__botao--imagem{
    margin-right: 8px;
    
}

.banner__botao--novamente{
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    margin-right: .5rem;
    opacity: 1;
    padding: 0.5rem;
    position: relative;
    width: 40px;
}

.banner__botao--novamente:hover{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.banner__botao--classificacao{
    background-color: rgba(51,51,51,.6);
    border: 3px #dcdcdc;
    border-left-style: solid;
    box-sizing: border-box;
    text-align: left;
    padding-left: 1rem;
    width: 100px;
}

.banner__idade{
    background-color: #d8ae22;
    border-radius: 4px;
    font-weight:bold;
    padding: 8px 4px;
}