.carrossel{
    width: 100%;
}

.carrossel__titulo{
    margin-left: 3rem;
    color: var(--branco);
}

.swiper__titulo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
}
    

.swiper-wrapper{
    margin-top: .5rem;
    margin-bottom: 1rem;
}


.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: inherit;
}

.swiper-pagination-bullet-active{
    background: var(--branco);
}

.swiper-pagination-bullet {
    border-radius: 0;
    height: 2px;
    width: 15px;
}

.swiper-button-prev{
   color: var(--branco);
   left: 0;
}

.swiper-button-next{
  color: var(--branco);
  right: 0;
}


.swiper .swiper-wrapper {
    padding: 20px 0;
  }
  
  .swiper .swiper-slide {
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }

  
  .swiper .swiper-slide:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
  }

  @media screen and (max-width: 980px) {

    .carrossel__titulo{
        font-size: 14px;
    }

    .swiper__titulo{
        grid-template-columns: 1fr 1fr;
    }
    
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 14px;
    }
}
  
