.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menu-principal{
    align-items: center;
    display: flex;
    margin-left: 3rem;
}

.menu__fixo{
    background: var(--cor-de-fundo);
}

.menu-lista{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-left: 3rem;
}

.menu-lista2__filme--item{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-left: 3rem;
}

.menu__logo{
    height: 30px; 
    width: 120px;
}

.menu-lista__link{
    color: var(--branco);
    margin: 0 .5rem;
    text-decoration: none;
}

.menu-lista__link:hover{
    opacity: .7;
    transition: .5s;
}

.menu-lista2{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-right: 3rem;
}

.menu-perfil, .menu-lista2__notificacao{
    list-style-type: none;
    position: relative;
}

.menu-principal-responsivo{
    display: none;
    list-style-type: none;
    margin-left: 1rem;
    position: relative;
}

.menu-lista2__filme{
    align-items: center;
    background-color: black;
    border: 1px solid transparent;
    display: none;
    list-style-type: none;
    opacity: 0.8;
    position: absolute;
    right: 0;
    padding: .5rem 0;
    width: 400px;
}

.menu-lista2__filme:hover{
    cursor: pointer;
    opacity: 1;
}

.menu-lista2__filme--imagem{
    margin-right: 1rem;
}

.menu-lista2__filme--titulo{
    color: var(--branco);
    font-size: 18px;
    width: 250px;
}

.menu-lista2__filme--subtitulo{
    color: var(--branco);
    font-size: 14px;
}

.menu-lista2__filme--texto{
    color: gray;
    font-size: 12px;
}

.menu-lista2__notificacao--icone{
    margin: 1rem 2rem;
}

.menu-perfil__icones--perfil{
    height: 30px; 
    width: 30px;
}

.menu-perfil__icones--mudar{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--branco);
    margin-left: .5rem;
}

.menu-perfil__icones--mudar:hover{
    cursor: pointer;
    transform: rotate(180deg);
    transition: all .5s;
}

.menu-perfil__icones{
    align-items: center;
    display: flex;
    margin: 1rem 0;
}

.menu li:hover > ul{
    display: block;
}

.menu-perfil-lista{
    align-items: center;
    background-color: black;
    border: 1px solid transparent;
    display: none;
    flex-direction: column;
    opacity: 0.8;
    position: absolute;
    right: 0;
    width: 230px;
}

.menu-perfil-lista__item{
    align-items: center;
    display: flex;
    margin-left: 1rem;
    padding: .5rem .5rem;
    width: 100%;
}

.menu-perfil-lista__nome{
    color: var(--branco);
    margin-left: .5rem;
    text-decoration: none;
}

.menu-perfil-lista__nome:hover{
    text-decoration: underline;
}

.menu-perfil-lista--final{
    border-bottom: 1px solid grey;;
}

.menu-perfil-lista--sair{
    margin-left: 3.5rem;
}


/*Menu responsivo */

@media screen and (max-width: 980px) {

    .menu-principal{
        margin-left: 1rem;
    }

    .menu-lista2{
        margin-right: .5rem;
    }
  
    .menu-lista2__notificacao--icone{
        margin: 0 1rem;
    }
    
    .menu-lista{
        display: none;
    }

    .menu-principal-responsivo{
        display: block;
    }
    .menu__logo{
        height: 20px; 
        width: 90px;
     }

    .menu-nav{
        align-items: center;
        display: flex;
        padding: 2rem 0;
    }
    
    .menu-responsivo__item{
        list-style-type: none;
        padding: 1rem 0rem;
        width: 100%;
    }
    
    .menu-responsivo__link{
        color: var(--branco);
        text-decoration: none;
        width: 100%;
    }
    
    .menu-responsivo__item:hover{
        background-color: rgb(54, 54, 54);
    }
    
    .menu-nav__navegar{
        color: var(--branco);
        text-decoration: none;
    }
    
    .menu-nav__mudar{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--branco);
        margin-left: .5rem;
    }
    
    .menu-nav__mudar:hover{
        cursor: pointer;
    }
    
    .menu-responsivo{
        align-items: center;
        background-color: black;
        border-top: 2px solid var(--branco);
        display: none;
        list-style-type: none;
        opacity: 0.9;
        padding: .5rem 0;
        position: absolute;
        text-align: center;
        right: 0;
        width: 250px;
    }
}

