.rodape{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    width: 100%;
}

.rodape-redes{
    display: flex;
}

.rodape-redes__icone{
    cursor: pointer;
    margin-right: 1rem;
}

.rodape-container{
    align-items: center;
    display: flex;
    width: 100%;
}

.rodape-lista{
    margin-right: 5rem;
}

.rodape-lista__item{
    list-style-type: none;
    margin-bottom: 1rem;
    width: 100%;
}

.rodape-lista__link{
    color: var(--cor-links-rodape);
    text-decoration: none;
    width: 100%;
}

.rodape-lista__link:hover{
    text-decoration: underline;
}

.rodape-final{
    display: flex;
    flex-direction: column;
}

.rodape-final__servico{
    color: var(--cor-links-rodape);
    border: 1px solid var(--cor-links-rodape);
    margin-bottom: 1rem;
    padding: .5rem;
    width: 15%;
}

.rodape-final__servico:hover{
    color: var(--branco);
    cursor: pointer;
}

.rodape-final__direitos{
    color: var(--cor-links-rodape);
}

@media screen and (max-width: 980px) {

    .rodape-container{
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .rodape-final__servico{
        width: 25vh;
    }

    .rodape-redes{
        margin-left: 3rem;
    }

    .rodape-lista{
        margin: .5rem 3rem;
        width: 195px;
    }

    .rodape-final{
        margin-left: 3rem;
    }
}