@import url("menu.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("rodape.css");


:root{
    --cor-de-fundo: #141414;
    --cor-links-rodape: #808080;
    --branco: #FFFFFF;
}

body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
}